RIOT_API_KEY=<YOUR-RIOT-API-KEY>
RIOT_URL=https://europe.api.riotgames.com
RIOT_EUW_URL=https://euw1.api.riotgames.com
DATABASE_URL=postgres://postgres:example@localhost:5432/league
PGSSL=false
PORT=4000
FRONTEND_URL=http://localhost:3000